<header>
  <div class="collapse navbar-collapse bg-warning " id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-7 py-4">
          <h4 class="text-secondary">About</h4>
          <p class="text-dark">
            We are here to enhance visibility over your assets. Start tracking them on loconav.com!
          </p>
        </div>
        <div class="col-4 offset-1 py-4">
          <h4 class="text-secondary">Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="">Follow on twitter</a>
            </li>
            <li>
              <a href="">email: info@babatrucks.com</a>
            </li>
            <li>
              <a href="">phone_number: +91-9560086166</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-warning text-danger box-shadow">
    <div class="container d-flex justify-content-between">
      <span class="navbar-brand mb-0 h1">locoNav</span>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarHeader" aria-expanded="false" aria-controls="navbarHeader">
        <span class="navbar-toggler-icon" ></span>
      </button>
    </div>
  </div>
</header>
